@import '../Sass//mixin';

.inputDiv{
    @include flex();
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.holderDiv{
    @include border();
    width: 40%;
    padding-bottom: 10px;
    margin-left: 30%;
}